.game {
    margin: 0 auto;
}

.answer-form {
    margin: .3rem;
}

.answer-form button  {
    margin-left: 0.5rem;
}

.result {
    padding: .2rem;
    width: 40%;
    margin: 0.2rem auto;
    border-radius: 0.3rem;
    font-size: 2rem;
}

.result-correct {
    color: white;
    background-color: #31704F;
}
.result-incorrect {
    color: white;
    background-color: #C05746;
}

.score-line {
    margin: 0.2rem auto;
    padding: 0.2rem;
    background-color: #B9BAA3;
    color: #F7F4E4;
    border-radius: 0.3rem;
    width: 40%;
    font-size: 2rem;
}
