.game {
    margin: 0 auto;
}

.result {
    padding: .2rem;
    margin: 0.2rem auto;
    min-width: 60%;
    max-width: 70%;
    border-radius: 0.3rem;
    font-size: 2rem;
}

.result-correct {
    color: white;
    background-color: #31704F;
}
.result-incorrect {
    color: white;
    background-color: #C05746;
}

.score-line {
    margin: 0.2rem auto;
    padding: 0.2rem;
    background-color: #B9BAA3;
    color: #F7F4E4;
    border-radius: 0.3rem;
    min-width: 60%;
    max-width: 70%;
    font-size: 2rem;
}
